#mine {
    margin: 50px auto
}

.level {
    text-align: center;
    margin-bottom: 10px;
}

.info {
    text-align: center;
    margin-top: 30px;
}

.mineNum{
    margin-right:150px; 
}

.gameBox table {
    border-spacing: 1px;
    background: #515155;
    margin: 0 auto;
    border-collapse: separate;
    
}

.gameBox td {
    padding: 0;
    width: 24px;
    height: 24px;
    background: #ccc;
    border: 2px solid;
    border-color: #fff #a1a1a1 #a1a1a1 #fff;

    text-align: center;
    line-height: 20px;
    font-weight: bold;
}

.gameBox .mine {
    background: #d9d9d9 url(/image/boom.png) no-repeat center;
    background-size: cover;
}

.gameBox .flag {
    background: #ccc url(/image/flag.png) no-repeat center;
    background-size: cover;
}

td.zero {
    background-color: #d9d9d9;
    background: #d9d9d9;
    border-color: #d9d9d9;
}

td.one {
    background-color: #d9d9d9;
    background: #d9d9d9;
    color: blue;
    border-color: #d9d9d9;

}

td.two {
    background-color: #d9d9d9;
    background: #d9d9d9;
    color: green;
    border-color: #d9d9d9;

}

td.three {
    background-color: #d9d9d9;
    background: #d9d9d9;
    color: red;
    border-color: #d9d9d9;

}

td.four {
    background-color: #d9d9d9;
    background: #d9d9d9;
    color: #202183;
    border-color: #d9d9d9;

}

td.five {
    background-color: #d9d9d9;
    background: #d9d9d9;
    color: brown;
    border-color: #d9d9d9;

}

td.six {
    background-color: #d9d9d9;
    background: #d9d9d9;
    color: orange;
    border-color: #d9d9d9;

}

td.seven {
    background-color: #d9d9d9;
    background: #d9d9d9;
    color: black;
    border-color: #d9d9d9;

}

td.eight {
    background-color: #d9d9d9;
    background: #d9d9d9;
    color: purple;
    border-color: #d9d9d9;

}

#start {
    width: 72px;
    position: relative; left: 40%; top: 10px;
}