#mine {
    margin: 50px auto !important;
}

.level {
    text-align: center!important;
    margin-bottom: 10px!important;
}

.info {
    text-align: center!important;
    margin-top: 30px!important;
}

.mineNum{
    margin-right:150px!important; 
}

table {
    border-spacing: 1px!important;
    background: #515155!important;
    margin: 0 auto!important;
}
tr,
td {
    padding: 0!important;
    width: 20px!important;
    height: 20px!important;
    background: #ccc!important;
    border: 2px solid!important;
    border-color: #fff #a1a1a1 #a1a1a1 #fff!important;

    text-align: center!important;
    line-height: 20px!important;
    font-weight: bold!important;
}

.mine {
    background: #d9d9d9 url(/images/boom.png) no-repeat center!important;
    background-size: cover!important;
}

.flag {
    background: #ccc url(/images/flag.png) no-repeat center!important;
    background-size: cover!important;
}

td.zero {
    background-color: #d9d9d9 !important;
    background: #d9d9d9!important;
    border-color: #d9d9d9!important;
}

td.one {
    background-color: #d9d9d9!important;
    background: #d9d9d9!important;
    color: blue!important;
    border-color: #d9d9d9!important;

}

td.two {
    background-color: #d9d9d9!important;
    background: #d9d9d9!important;
    color: green!important;
    border-color: #d9d9d9!important;

}

td.three {
    background-color: #d9d9d9!important;
    background: #d9d9d9!important;
    color: red!important;
    border-color: #d9d9d9!important;

}

td.four {
    background-color: #d9d9d9!important;
    background: #d9d9d9!important;
    color: #202183!important;
    border-color: #d9d9d9!important;

}

td.five {
    background-color: #d9d9d9!important;
    background: #d9d9d9!important;
    color: brown!important;
    border-color: #d9d9d9!important;

}

td.six {
    background-color: #d9d9d9!important;
    background: #d9d9d9!important;
    color: orange!important;
    border-color: #d9d9d9!important;

}

td.seven {
    background-color: #d9d9d9!important;
    background: #d9d9d9!important;
    color: black!important;
    border-color: #d9d9d9!important;

}

td.eight {
    background-color: #d9d9d9!important;
    background: #d9d9d9!important;
    color: purple!important;
    border-color: #d9d9d9!important;

}